
.register__form-wrapper {
  width: 70%;
  margin: auto;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.register__form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register__form--input {
  width: 100%;
  height: 30px;
  outline: none;
  border: 0.5px solid grey;
  border-radius: 6px;
  margin-bottom: 20px;
}
.reset__button,
.submit__button {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
  height: 25px;
  background-color: rgb(82, 231, 182);
  cursor: pointer;
}
.gender__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: blue;
}
.gender__wrapper input {
  height: 10px;
}
.checkbox__wrapper{
    margin-top: 20px;
}